/* ================
   Base Styles
================ */

body {
  font-family: "Source Sans 3", sans-serif;
}

/* ===============
   Typography
=============== */

/* === Headings === */
h1 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.75rem, 3.273vw, 1.25rem);
}

h2 {
  font-size: clamp(1.25rem, 7.729vw, 2.5rem);
  line-height: 1.082;
}

time {
  text-transform: uppercase;
  font-size: clamp(0.75rem, 2.899vw, 1rem);
}

a {
  font-weight: 600;
  color: #090909;
  text-decoration: none;
  font-size: 0.75rem;
}

ul {
  list-style-type: none;
}

/* ======================
   Layout Containers
====================== */

header,
.hero,
.posts,
footer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5625em 1.25em;
}

/* === Header Layout === */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* === Hero Layout === */
.hero {
  min-height: 36vh;
  background: url(/images/hero.webp);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: end;
}

.hero-content {
  max-width: 700px;
}

/* === Posts Layout === */
.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding-top: 2.125em;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5625em;
}

/* === Footer Layout === */
footer {
  text-align: center;
  background: #202020;
}

/* ===============
   Components
=============== */

/* === Logo === */
.logo {
  display: flex;
  align-items: center;
  gap: 0.3125em;
  flex-basis: 90%;
}

.logo svg {
  width: clamp(1.447em, 5.595vw, 2.14em);
}

/* === Navigational Menu === */
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.nav ul {
  width: 33.3%;
  padding-left: 0;
  text-align: center;
}

.nav ul li:not(:last-child) {
  border-bottom: 1px solid #000;
}

.hidden {
  display: none;
}

/* === Hamburger Toggle === */
.menu-toggle {
  background: none;
  border: none;
}

/* === Post Card === */
.post-card {
  flex: 1 0 100%;
}

.post-card img {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 0.875em;
}

.post-date {
  font-size: 0.875rem;
}

.post-title {
  font-size: 1.5rem;
  color: #141414;
  margin: 0.375em 0;
}

.post-summary {
  line-height: 1.25;
  color: #505050;
}

/* === Copyright === */
.copyright-name {
  color: #ececec;
  line-height: 1.082;
  letter-spacing: 0.75px;
  font-size: 0.75rem;
  font-weight: 700;
}

.copyright {
  color: #d7d7d7;
  line-height: 1.25;
  font-size: 0.75rem;
}

/* === View More Link === */
.view-more {
  text-decoration: underline;
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}

/* ===============
   Media Queries
=============== */

@media screen and (min-width: 430px) {
  .hero {
    min-height: 60vh;
    background: url(/images/desktop-hero.webp);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}

@media (min-width: 481px) {
  .post-card {
    flex: 1 0 208px;
  }

  .menu-toggle {
    display: none;
  }

  header {
    flex-wrap: nowrap;
  }

  .nav {
    display: flex;
    justify-content: end;
    margin-top: 0;
  }

  .nav ul {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2em;
  }

  .nav ul li:not(:last-child) {
    border-bottom: none;
  }
}

@media (min-width: 1025px) {
  .posts {
    padding: 1.5625em 0em;
  }
}
